<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.5" id="millionairerahul" xml:lang="en">
  <author href="http://rahulgandhiapps.blogspot.in/"
          rim:copyright="Copyright Rahulg">Rahul Gandhi</author>
  <name>Millionaire</name>
  <content src="index.html"/>
  <icon src="icon.png" />
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
 
  <display_options>
  <platform name="*">
     <option name="fixed-layout">true</option>
  </platform>
</display_options>
 <feature id="blackberry.app.orientation">
    <param name="mode" value="portrait" />
	</feature>
</widget>